<h2>{{ titulo }}</h2>

<div class="row">
  <div class="col-xs-12 col-md-6 crop-image">
    <img src="assets/images/crear.png" alt="Crear" />
  </div>
  <div class="col-xs-12 col-md-6 mt-5">
    <form
      [formGroup]="datosMotocicletaForm"
      (ngSubmit)="guardarMotocicletaMantenimiento()"
    >
      <div class="row">
        <mat-form-field appearance="standard" [style.width.%]="100">
          <mat-label>Placa</mat-label>
          <input matInput id="placaMoto" formControlName="placa" required />
          <mat-error *ngIf="isValidFieldDatosMotocicletaForm('placa')">
            La longitud de la placa debe estar entre 5 y 7
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row mt-5">
        <mat-form-field appearance="standard" [style.width.%]="100">
          <mat-label>Cilindraje</mat-label>
          <input
            matInput
            id="cilindrajeMoto"
            type="number"
            min="50"
            formControlName="cilindraje"
            required
          />
          <mat-error *ngIf="isValidFieldDatosMotocicletaForm('cilindraje')">
            El cilindraje debe ser mayor a 50
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row mt-5">
        <mat-form-field appearance="standard" [style.width.%]="100">
          <mat-label>Fecha de entrada</mat-label>
          <input
            matInput
            id="fechaMoto"
            [ngxMatDatetimePicker]="picker"
            formControlName="fecha"
            (click)="picker.open()"
            [min]="fechaActual"
            required
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [enableMeridian]="true"
          ></ngx-mat-datetime-picker>
          <mat-error *ngIf="isValidFieldDatosMotocicletaForm('fecha')">
            La fecha es obligatoria
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row wrap-reverse">
        <div class="col-xs-12 col-md-6">
          <button
            class="btn-volver mt-5"
            type="button"
            (click)="dirigirMenu()"
            mat-raised-button
          >
            Volver al menú
          </button>
        </div>
        <div class="col-xs-12 col-md-6">
          <button
            class="btn-crear mt-5"
            id="btnCrearMoto"
            type="submit"
            [disabled]="!datosMotocicletaForm.valid"
            mat-raised-button
          >
            Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
