<div class="row">
  <div class="col-xs-12 col-md-6 crop-image">
    <img src="assets/images/mantenimiento.png" alt="Mantenimiento" />
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <a routerLink="./listar" class="card fondo-listado">
        <div class="inner">
          <h2 class="title">Listado de todos los mantenimientos</h2>
        </div>
      </a>
    </div>
    <div class="row">
      <a routerLink="./listar-hoy" class="card fondo-activos">
        <div class="inner">
          <h2 class="title">Listado de los mantenimientos activos hoy</h2>
        </div>
      </a>
    </div>
    <div class="row">
      <a routerLink="./crear" class="card fondo-crear">
        <div class="inner">
          <h2 class="title">Creación de un nuevo mantenimiento</h2>
        </div>
      </a>
    </div>
  </div>
</div>
