<h2>{{ titulo }}</h2>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <!-- Columna Id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <!-- Columna Placa -->
    <ng-container matColumnDef="placa">
      <mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.placa | uppercase }}
      </mat-cell>
    </ng-container>

    <!-- Columna Cilindraje -->
    <ng-container matColumnDef="cilindraje">
      <mat-header-cell *matHeaderCellDef>Cilindraje</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.cilindraje + " cc" }}
      </mat-cell>
    </ng-container>

    <!-- Columna Fecha -->
    <ng-container matColumnDef="fechaEntrada">
      <mat-header-cell *matHeaderCellDef>Fecha de entrada</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.fechaEntrada | date: "dd/MMM/yyyy, h:mm a" }}
      </mat-cell>
    </ng-container>
    <!-- Columna Tarifa -->
    <ng-container matColumnDef="tarifa">
      <mat-header-cell *matHeaderCellDef>Tarifa</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.tarifa | currency: "USD":"symbol":"1.0-0" }}
      </mat-cell>
    </ng-container>
    <!-- Columna Estado  -->
    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.estado }}</mat-cell>
    </ng-container>
    <!-- Columna Salida -->
    <ng-container matColumnDef="salida">
      <mat-header-cell *matHeaderCellDef>Dar salida</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-actualizar-mantenimiento
          (mantenimientoActualizado)="mostrarAlertaActualizado($event)"
          [mantenimiento]="element"
        ></app-actualizar-mantenimiento>
      </mat-cell>
    </ng-container>
    <!-- Columna Eliminar -->
    <ng-container matColumnDef="eliminar">
      <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-eliminar-mantenimiento
          (mantenimientoEliminado)="mostrarAlertaEliminado($event)"
          [mantenimiento]="element"
        ></app-eliminar-mantenimiento>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <button
      class="btn-volver mt-5"
      type="button"
      (click)="dirigirMenu()"
      mat-raised-button
    >
      Volver al menú
    </button>
  </div>
  <div class="col-xs-12 col-md-6">
    <button class="btn-crear mt-5" (click)="dirigirCrear()" mat-raised-button>
      Crear
    </button>
  </div>
</div>
